@page
@model FisketorvetApp.Pages.EditUserModel
@{
}
<!-- Domantas -->
<html>
<head>
    <title></title>
</head>
<body>
    <h2>Edit user information</h2>
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="@Model.EditAccountViewModel.Name" class="control-label">Name</label>
                        <input asp-for="@Model.EditAccountViewModel.Name" class="form-control" />
                        <span asp-validation-for="@Model.EditAccountViewModel.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="@Model.EditAccountViewModel.DateOfBirthYear" class="control-label">Year</label>
                        <input asp-for="@Model.EditAccountViewModel.DateOfBirthYear" class="form-control" />
                        <span asp-validation-for="@Model.EditAccountViewModel.DateOfBirthYear" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="@Model.EditAccountViewModel.DateOfBirthMonth" class="control-label">Month</label>
                        <input asp-for="@Model.EditAccountViewModel.DateOfBirthMonth" class="form-control" />
                        <span asp-validation-for="@Model.EditAccountViewModel.DateOfBirthMonth" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="@Model.EditAccountViewModel.DateOfBirthDay" class="control-label">Day</label>
                        <input asp-for="@Model.EditAccountViewModel.DateOfBirthDay" class="form-control" />
                        <span asp-validation-for="@Model.EditAccountViewModel.DateOfBirthDay" class="text-danger"></span>

                    </div>
                </div>

            </div>
            <div class="form-group">
                <label asp-for="@Model.EditAccountViewModel.PhoneNumber" class="control-label">Phone number</label>
                <input asp-for="@Model.EditAccountViewModel.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.EditAccountViewModel.PhoneNumber" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="@Model.EditAccountViewModel.Email" class="control-label">Email</label>
                <input asp-for="@Model.EditAccountViewModel.Email" class="form-control" />
                <span asp-validation-for="@Model.EditAccountViewModel.Email" class="text-danger"></span>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="@Model.EditAccountViewModel.Password" class="control-label">Password</label>
                        <input asp-for="@Model.EditAccountViewModel.Password" class="form-control" />
                        <span asp-validation-for="@Model.EditAccountViewModel.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="@Model.EditAccountViewModel.ConfirmPassword" class="control-label">Enter password again</label>
                        <input asp-for="@Model.EditAccountViewModel.ConfirmPassword" class="form-control"/>
                        <span asp-validation-for="@Model.EditAccountViewModel.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="@Model.EditAccountViewModel.Street" class="control-label">Street</label>
                        <input asp-for="@Model.EditAccountViewModel.Street" class="form-control" />
                       

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="@Model.EditAccountViewModel.HouseNumber" class="control-label">House number</label>
                        <input asp-for="@Model.EditAccountViewModel.HouseNumber" class="form-control" />
                       

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="@Model.EditAccountViewModel.PostalCode" class="control-label">Postal Code</label>
                        <input asp-for="@Model.EditAccountViewModel.PostalCode" class="form-control" />
                       

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="@Model.EditAccountViewModel.City" class="control-label">City</label>
                        <input asp-for="@Model.EditAccountViewModel.City" class="form-control" />
                      

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="@Model.EditAccountViewModel.ClubMembership">I want to be a Club Member</label>
                <input class="border-dark" type="checkbox" asp-for="@Model.EditAccountViewModel.ClubMembership">
            </div>
            <div class="form-group">
                <input type="submit" value="Edit information" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</body>
</html>