@page
@using Microsoft.AspNetCore.Http
@model FisketorvetApp.Pages.ProductModel
@{
}

<!-- Ashanti -->

<div class="container">
    <h1 class="text-center">@Model.SName</h1>
    <div class="text-center">
            <p><strong>@Model.SName</strong>    Open from 10 to 15</p>
    </div>
</div>


<div>
    <form>
        <p>
            Search: <input type="text" asp-for="Criteria" />
            <input type="submit" value="filter" />
        </p>
    </form>
</div>

<div class="container-fluid mt-50">
    <div class="row">
        @if (Model.Items != null)
        {
            @foreach (var item in Model.Items)
            {
                <div class="card mb-3 mx-auto col-12 col-md-6 col-lg-3">
                    <div class="card-body">
                        <div class="mx-auto">
                            <div class="product-details">
                                <span class="font-weight-bold d-block">@item.Name</span> <span>@item.Price kr</span> 
                                <div class="weight">@item.Type in  @item.Color</div>
                                <div class="weight"> @item.Gender @item.Size </div>

                                @if (HttpContext.Session.GetString("Name") != null)
                                {
                                <a class="btn btn-primary" asp-page="/Products" asp-route-id="@item.Id" asp-route-iname="@item.Name">Add to cart</a>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>