@page
@using Microsoft.AspNetCore.Http
@model FisketorvetApp.Pages.ProductModel
@{
}

<!-- Ashanti -->

<div class="container">
    <h1 class="text-center">Name of the Store</h1>
    <div class="row text-center">
        <div class="col-md-6">
            <img class="" src="/wp-content/themes/creativeforces/images/majapic.jpg" width="250">
            <h3 class="text-center">Name store</h3>
            <h3 class="text-center">Open from 2 to 3</h3>
        </div>
        <div class="col-md-6">
            <p><strong>Name of the Store</strong> Description.</p>
        </div>
    </div>
</div>


<div>
    <form>
        <p>
            Search: <input type="text" asp-for="Criteria" />
            <input type="submit" value="filter" />
        </p>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Gender</th>
            <th scope="col">Size</th>
            <th scope="col">Color</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items != null)
        {
            foreach (var item in Model.Items)
            {
        <tr>
            <td>
                @item.Type
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Gender
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.Color
            </td>
            @if (HttpContext.Session.GetString("Name") != null)
            {
                <td>
                    <a asp-page="/Products" asp-route-id="@item.Id" asp-route-iname="@item.Name">Add to cart</a>
                </td>
            }
        </tr>
            }
        }
    </tbody>
</table>
